body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(244, 245, 194);
}

.container{
    width:80%;
    margin: auto;
}

.ui.center.aligned.header{
    border: 3px solid;
    font-size: 35px;
    font-weight: 600;
    margin: 50px 0;
}

.add-more{
    margin: 30px 0;
}